html, body { 
    font-family: "poppins", sans-serif;
 
    margin: 0; }

/* Header Css */

#headermenu {
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;

}

.headermenulinks a {
    color: #3d3d3d;
    font-family: "poppins", sans-serif;
}

.headermenulinks a:hover {
    color: #389781;
}
.c-item {
    height: 640px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.slidetitle {
    font-size: 80px;
    font-weight: 100;
}

.c-item h1 {
    font-family: "poppins", sans-serif;
    font-size: 70px;
    font-weight: 200;
    text-transform: uppercase;
}

.c-item button {
    font-family: "poppins", sans-serif;
    background-color: #5FC7AE;
    height: 50px;
    width: 170px;
    border-radius:50px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.c-item button:hover {
    background-color: #90e1ce;
    color: #1d7661;
    box-shadow: 0 4px 40px 0 rgba(4, 61, 32, 0.2);
}

.clickbutton {
    font-family: "poppins", sans-serif;
    background-color: #5FC7AE;
    height: 30px;
    width: 50px;
}




/* Our Story Section Css */


.aboutustext h1 {
    font-family: "poppins", sans-serif;
    font-size: 60px;
    font-weight: 200;
    padding: 3% 0;
    color: red;
    text-transform: uppercase;
    
}


.aboutustext p {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #575757;
    padding-top: 20px;

}

.ourvaluesheading h1 {
    font-family: "poppins", sans-serif;
    font-size: 60px;
    font-weight: 200;
    text-transform: uppercase;
}

.ourvaluespara p {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: #575757;
}

.ourvalues {
    background-image: url("./images/15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    background-position: center;
    background-attachment: fixed;
    align-content: center;

}


.ourvaluestwo {
    background-image: url("./images/16.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    background-position: center;
    background-attachment: fixed;
    align-content: center;

}

.ourvaluesthree {
    background-image: url("./images/17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    background-position: center;
    background-attachment: fixed;
    align-content: center;

}


.ourvalues h1, .ourvaluestwo h1, .ourvaluesthree h1, .contactus h1  {
    font-family: "poppins", sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: #eaeaea;
    text-transform: uppercase;
    text-shadow: 2px 2px 6px #000000;
}

/* About sections Css */


.abouttext h1 {
    font-family: "poppins", sans-serif;
    font-size: 50px;
    font-weight: 200;
    color: #fff;
    padding: 0 8vh;
}


.abouttext p {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #e9e9e9;
    padding: 0 10vh;
}

.abouttext button {
    font-family: "poppins", sans-serif;
    border: #90e1ce 2px solid;
    height: 50px;
    width: 170px;
    border-radius:50px;
    font-size: 14px;
    color: #eaeaea;
    font-weight: 400;
    background-color: #57bea6;
    margin: 4% 0;
}

.abouttext button:hover {
    background-color: #90e1ce;
    color: #389781;
}


/* Four Columns Section */


.cl-two {
    background-color: #57bea6;
    background-size: cover;
    
}


.cl-four {
    background-color: #d5fff5;
    background-size: cover;
    
}


.cl-two h1 {
    font-family: "poppins", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #fff; 
    text-transform: uppercase; 
}

.cl-two p {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #fff8f8ea;
}

.cl-two hr {
    width: 50px;
    border: 2px solid white;
}

.readmorebtn {
    font-family: "poppins", sans-serif;
    color:#86f1d8;
    font-size: 14px;
    background-color: transparent;
    font-weight: 400px;
    border: none;
}

.readmorebtn:hover {
    color: #ffffff;
    cursor: pointer;
}

.readmore-icon {
    font-family: "poppins", sans-serif;
    color:#86f1d8;
    font-size: 14px;
    background-color: transparent;
    font-weight: 400px;
    border: none;
}


.cl-four h1 {
    font-family: "poppins", sans-serif;
    font-size: 24px;
    font-weight: 200;
    color: #2d5544; 
    text-transform: uppercase; 
}

.cl-four p {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #2d5544;
}

.cl-four hr {
    width: 50px;
    border: 2px solid #2d5544;
}

.readmorefourbtn {
    font-family: "poppins", sans-serif;
    color:#37907f;
    font-size: 14px;
    background-color: transparent;
    font-weight: 400px;
    border: none;
}

.readmorefour-icon {
    color:#37907f;
    font-size: 14px;
    background-color: transparent;
    font-weight: 400px;
    border: none;
}

.readmorefourbtn:hover {
    color: #000000;
    cursor: pointer;
}

.readmore-icon:hover {
    color: #000000;
    cursor: pointer;
}

.readmorefour-icon:hover {
    color: #000000;
    cursor: pointer;
}


.fourcolumns h2 {
    font-family: "poppins", sans-serif;
    font-size: 22px;
    font-weight: 200;
    color: #57bea6; 
    text-transform: uppercase; 
}


/* Shop Section */

#store {
    background-color: #fff7e7;
}

#store h1 {
    font-family: "poppins", sans-serif;
    font-size: 60px;
    font-weight: 200;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    color: #3d3d3d;
    text-align: center;
    padding-top: 5%;
}


.card-images {
    transition:all  0.3s ease-in;
} 

.card-images:hover {
    transform: scale(1.05);
}

.loadmore a {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #257e69;
    border: 2px solid #257e69;
    border-radius: 8px ;
    padding: 10px 30px;
    text-decoration: none;
}

.loadmore a:hover {
    background-color: #257e69;
    color: #e9e9e9;
}

/* Contact Us */

#contactus h1 {
    font-family: "poppins", sans-serif;
    font-size: 40px;
    font-weight: 200;
    color: #3d3d3d; 
    text-transform: uppercase; 
    align-items: center;
}

.contactus {
    font-family: "poppins", sans-serif;
    background-image: url("./images/13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    background-position: center;
    background-attachment: fixed;
    align-content: center;

}

#contact p {
    font-weight: 500;
    font-size: 18px;
}

#contact p:hover {
    color: #1d7661;
    cursor: pointer;
}







/* Footer Section */

#footersection {
    background-color:#3d3d3d; 
    height: 20vh;
}

.socialicons {
    color: #e9e9e9;
    

}


.socialicons i {
    
    font-size: 30px;
    color: #e9e9e9;
}

.socialicons i:hover {
    color:#57bea6;
    cursor: pointer;
}



.footerlinks a {
    font-family: "poppins", sans-serif;
    color: #e9e9e9;
}

.footerlinks a:hover {
    color:#57bea6;
    border-bottom: #389781 1px solid;
}

.footerbar {
    font-family: "poppins", sans-serif;
    height: 8vh;
    background-color:#3d3d3d;
    padding: 5px;
}


.gotop {
    font-family: "poppins", sans-serif;
    position: fixed;
    bottom: 20px;
    background-color: aliceblue;
    font-size: 30px;
    padding: 12px 14px;
    border-radius: 10px;
    color: #257e69;
    bottom: 26px;
    right: 40px;
    z-index: 999;
}

.gotop:hover {
    box-shadow:0 0 20px 0 hsla(160, 33%, 29%, 0.605) ;
}